
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Main.cshtml";
}


<div class="row">&nbsp;</div>



<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <a class="twitter-timeline" href="https://twitter.com/Dre_Sebastiani" data-widget-id="582564448092573696">Tweets by Dre_Sebastiani</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
    <!-- /#sidebar-wrapper -->

</div>

<section id="about" class="about-section">
    <div class="container">
        <span class="scrollimation"></span>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images/rsz_web_dev_2.png" />
                <h2>Web Development</h2>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/rsz_database_3.png" />
                <h2>Database Design</h2>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/rsz_app_dev.png" />                
                <h2>Front-End Development</h2>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                </p>
            </div>
        </div>
    </div>
</section>


<section id="education" class="education-section">
    <div class="container">
        <div class="education-header">
            <span class="scrollimation"><img src="~/Content/Images/rsz_2logo-cob_fullcolor-birdhead.png" /></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>University of Louisville</h3>
            </div>
            <div class="pull-right right-pulled">
                <h3><strong>Core GPA:&nbsp;</strong>3.6/4.0</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>BS, Computer Information Systems</h3>
            </div>
            <div class="pull-right right-pulled">
                <h3>12/2015</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3><em>Focus:&nbsp;</em>Web Development</h3>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="skills-section">
    <div class="container">
        <div class="row">
            <div class="skills-header">
                <span class="scrollimation">Skills</span>
            </div>
            <div class="row">&nbsp;</div>

            <div id="skillbar">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Languages</h3>
                    </div>
                    <div class="panel-body">
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C#</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skill-bar-percent">80%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #d35400;"><span>SQL</span></div>
                            <div class="skillbar-bar" style="background: #e67e22;"></div>
                            <div class="skill-bar-percent">70%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="40%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skill-bar-percent">40%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #FF0033;"><span>HTML5</span></div>
                            <div class="skillbar-bar" style="background: #FF0000;"></div>
                            <div class="skill-bar-percent">75%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #27ae60;"><span>CSS3</span></div>
                            <div class="skillbar-bar" style="background: #2ecc71;"></div>
                            <div class="skill-bar-percent">70%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JavaScript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skill-bar-percent">60%</div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Libraries / Frameworks</h3>
                    </div>
                    <div class="panel-body">
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>ASP.Net MVC 5</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                            <div class="skill-bar-percent">80%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #2c3e50;"><span>nHibernate 3.3</span></div>
                            <div class="skillbar-bar" style="background: #2c3e50;"></div>
                            <div class="skill-bar-percent">70%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="40%">
                            <div class="skillbar-title" style="background: #006666;"><span>Microsoft Entity</span></div>
                            <div class="skillbar-bar" style="background: #006699;"></div>
                            <div class="skill-bar-percent">40%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="background: #FF0000;"><span>AngularJS</span></div>
                            <div class="skillbar-bar" style="background: #FF0033;"></div>
                            <div class="skill-bar-percent">50%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="30%">
                            <div class="skillbar-title" style="background: #FF6600;"><span>NodeJS</span></div>
                            <div class="skillbar-bar" style="background: #FF6633;"></div>
                            <div class="skill-bar-percent">30%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="100%">
                            <div class="skillbar-title" style="background: #27ae60;"><span>Bootstrap</span></div>
                            <div class="skillbar-bar" style="background: #2ecc71;"></div>
                            <div class="skill-bar-percent">100%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #303030;"><span>Sass</span></div>
                            <div class="skillbar-bar" style="background: #404040;"></div>
                            <div class="skill-bar-percent">60%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="30%">
                            <div class="skillbar-title" style="background: #FF0000;"><span>SignalR</span></div>
                            <div class="skillbar-bar" style="background: #FF0033;"></div>
                            <div class="skill-bar-percent">30%</div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Version Control</h3>
                    </div>
                    <div class="panel-body">
                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2c3e50;"><span>Git</span></div>
                            <div class="skillbar-bar" style="background: #2c3e50;"></div>
                            <div class="skill-bar-percent">80%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #46465e;"><span>TFS</span></div>
                            <div class="skillbar-bar" style="background: #5a68a5;"></div>
                            <div class="skill-bar-percent">90%</div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Methodologies</h3>
                    </div>
                    <div class="panel-body">

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #FF0033;"><span>Agile Development</span></div>
                            <div class="skillbar-bar" style="background: #FF0000;"></div>
                            <div class="skill-bar-percent">90%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #FF0033;"><span>Scrum</span></div>
                            <div class="skillbar-bar" style="background: #FF0000;"></div>
                            <div class="skill-bar-percent">90%</div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="background: #FF0033;"><span>Waterfall</span></div>
                            <div class="skillbar-bar" style="background: #FF0000;"></div>
                            <div class="skill-bar-percent">70%</div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>




<section id="experience" class="experience-section">
    <div class="container">
        <div class="experience-header">
            <span class="scrollimation">Professional Experience</span>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-md-6">
                <h4>Senior Software Engineer Intern - ZirMed</h4>
            </div>
            <div class="pull-right right-pulled">
                <h4>December 2014 - Present</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Software Engineer Intern - ZirMed</h4>
            </div>
            <div class="pull-right right-pulled">
                <h4>August 2014 - December 2014</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Developer Co-op - Heartland Payment Systems</h4>
            </div>
            <div class="pull-right right-pulled">
                <h4>May 2014 - August 2014</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Help Desk Specialist - Yum Brands</h4>
            </div>
            <div class="pull-right right-pulled">
                <h4>February 2014 - May 2014</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Systems Analyst - Appriss</h4>
            </div>
            <div class="pull-right right-pulled">
                <h4>May 2013 - January 2014</h4>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact-section">
    <div class="container">
        <div class="contact-header">
            <span class="scrollimation">Contact</span>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form action="" method="POST" enctype="multipart/form-data" id="form_id">
                    <div class="form-group">
                        <h5><label for="inputName">Name</label></h5>

                        <input type="text" name="career[name]" class="form-control" tabindex="1" placeholder="Enter your name" pattern="[a-zA-Z. ]{1,50}" required>
                    </div>
                    <div class="form-group">
                        <h5><label for="inputEmail">Email</label></h5>

                        <input type="email" name="career[email]" class="form-control" tabindex="2" placeholder="Enter your email address" required>
                    </div>
                    <div class="form-group">
                        <h5><label for="inputMobile">Mobile</label></h5>

                        <input type="tel" name="career[mobile]" class="form-control" tabindex="3" placeholder="Enter your mobile number" pattern="[0-9]{10}" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <h5><label for="inputMessage">Message</label></h5>

                        <input type="text" name="career[message]" class="form-control" tabindex="4" placeholder="Write your details" required>
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary btn-block" tabindex="5">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>



    @section pagescripts {

        <script>
            jQuery('.skillbar').each(function () {
                jQuery(this).find('.skillbar-bar').animate({
                    width: jQuery(this).attr('data-percent')
                }, 6000);
            });


            $("#menu-close").click(function (e) {
                e.preventDefault();
                $("#sidebar-wrapper").toggleClass("active");
            });
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#sidebar-wrapper").toggleClass("active");
            });


        </script>





    }
